In [109]:
#import libraries
import pandas as pd
import urllib.request, json, csv
import requests

In [110]:
#load data from url
url_dataset = "https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json"
with urllib.request.urlopen(url_dataset) as url:
  # load the data to pandas
    df = pd.read_json(url.read())
df.head()

  water_pay respondent  ... simserial subscriberid
0        no  community  ...       NaN          NaN
1        no  community  ...       NaN          NaN
2        no  community  ...       NaN          NaN
3        no  community  ...       NaN          NaN
4        no  community  ...       NaN          NaN

[5 rows x 48 columns]

In [111]:
# relevant columns
df= df[["communities_villages", "water_point_condition", "water_functioning"]]
df.tail()
#df.size

    communities_villages water_point_condition water_functioning
707                 Suik           functioning               yes
708              Vundema                broken               yes
709              Vundema                broken               yes
710             Jiniensa           functioning               yes
711                Jagsa           functioning               yes

In [112]:
df['water_point_condition'].value_counts()

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

In [116]:
class waterPoints:
  #initialize the class attributes
  def __init__(self,data):
    # load data from the url
    self.data = data 
   #The number of water points that are functional
  def functional_water_points (self):
    #filter the data by functional water points
    df1=self.data[self.data['water_functioning'] =="yes"]
    #convert to dataframe
    df1= df1.groupby('water_functioning').size().to_frame()
    df1= df1.rename(columns={0:"number_functional"})
    print("1: The number of water points that are functional:")
    print(df1)

  #Calculate number of water points per community
  def community_waterpoints (self):
    df2= self.data.groupby("communities_villages").size().to_frame()
    df2=df2.rename(columns={0:"number_water_points"})
    print("2: Number of water points per community: ")
    print(df2)

  #The rank for each community by the percentage of broken water points
  def broken_water_points (self):
    #filter by broken points
    bwp = self.data['water_point_condition'] =="broken"
    df3= self.data[bwp]
    #Convert to dataframe
    df3= df3.groupby("communities_villages").size().to_frame()
    df3=df3.rename(columns={0:'Broken_Points_percentage'})
    # Calculate the sum of all the broken water points
    Total_broken = df3['Broken_Points_percentage'].sum()
    # calculate the percentage of broken water points
    df3['Broken_Points_percentage'] = df3['Broken_Points_percentage'].map(lambda  x: (x/Total_broken)*100)
    print()
    print("3: Rank for each community by the percentage of broken water points. ")
    print(df3.sort_values(ascending=False, by='Broken_Points_percentage'))

In [118]:
# instantiate the class
obj=waterPoints(df)
print()
#Calling methods by created object
obj.functional_water_points()
print()
obj.community_waterpoints()
print()
obj.broken_water_points()

1: The number of water points that are functional:
                   number_functional
water_functioning
yes                              623

2: Number of water points per community:
                      number_water_points
communities_villages
Abanyeri                                4
Akpari-yeri                             3
Alavanyo                                3
Arigu                                  12
Badomsa                                27
...                                   ...
Zogsa                                   6
Zua                                    28
Zuedema                                18
Zukpeni                                 6
Zundem                                 30

[65 rows x 1 columns]


3: Rank for each community by the percentage of broken water points.
                      Percentage_Broken_Points
communities_villages
Nayoku                                    15.0
Kubore                                    10.0
Loagri_1_                                 10.0
Arigu                                      5.0
Namgurima                                  5.0
Gbaarigu                                   5.0
Zanwara                                    5.0
Vundema                                    5.0
Soo                                        5.0
Bandem                                     5.0
Zogsa                                      2.5
Tantala                                    2.5
Nyankpiensa                                2.5
Longsa                                     2.5
Luisa                                      2.5
Kpatarigu                                  2.5
Kanwaasa                                   2.5
Kaasa                                      2.5
Jagsa                                      2.5
Guuta                                      2.5
Banyangsa                                  2.5
Zukpeni                                    2.5

In [59]:
#functional water points
new = df['water_functioning'] =="yes"
df1=df[new]
#df1.tail()

In [ ]:
# Number of broken water points
bwp = df['water_point_condition'] =="broken"
data3=data[bwp]
data3.head()

   communities_villages water_point_condition water_functioning
51               Nayoku                broken                no
61               Nayoku                broken                no
64               Nayoku                broken                no
65               Nayoku                broken                no
66               Nayoku                broken                no

In [ ]:
#Number
data3['water_functioning'].size

40

In [ ]:
#Number of water points per community
cp= cdf.groupby("communities_villages").size()
cp

communities_villages
Arigu          2
Bandem         2
Banyangsa      1
Gbaarigu       2
Guuta          1
Jagsa          1
Kaasa          1
Kanwaasa       1
Kpatarigu      1
Kubore         4
Loagri_1_      4
Longsa         1
Luisa          1
Namgurima      2
Nayoku         6
Nyankpiensa    1
Soo            2
Tantala        1
Vundema        2
Zanwara        2
Zogsa          1
Zukpeni        1
dtype: int64

In [ ]:
type(cp)

pandas.core.series.Series