In [55]:
#import libraries
import pandas as pd
import urllib.request, json, csv
import requests

In [37]:
#load data from url
url_dataset = "https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json"
with urllib.request.urlopen(url_dataset) as url:
  # load the data to pandas
    df = pd.read_json(url.read())
df.head()

  water_pay respondent  ... simserial subscriberid
0        no  community  ...       NaN          NaN
1        no  community  ...       NaN          NaN
2        no  community  ...       NaN          NaN
3        no  community  ...       NaN          NaN
4        no  community  ...       NaN          NaN

[5 rows x 48 columns]

In [6]:
# relevant columns
df= df[["communities_villages", "water_point_condition", "water_functioning"]]
df.tail()
#df.size

    communities_villages water_point_condition water_functioning
707                 Suik           functioning               yes
708              Vundema                broken               yes
709              Vundema                broken               yes
710             Jiniensa           functioning               yes
711                Jagsa           functioning               yes

In [7]:
df['water_point_condition'].value_counts()

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

In [52]:
class waterPoints:
  #initialize the class attributes
  def __init__(self,data):
    # load data from the url
    self.data = data 
   #The number of water points that are functional
  def functional_water_points (self):
    #filter the data by functional water points
    number_functional=self.data[self.data['water_point_condition'] =="functioning"]

    self.number_functional= number_functional.groupby('water_point_condition').size().reset_index(name="number_functional")
    print("1: The number of water points that are functional:")
    print()
    print(self.number_functional)

  #Calculate number of water points per community
  def community_waterpoints (self):
    self.community_water_points= self.data.groupby("communities_villages").size().reset_index(name='total_water_points')
    print("2: Number of water points per community: ")
    print()
    print(self.community_water_points)

  #The rank for each community by the percentage of broken water points
  def broken_water_points (self):
    #filter by broken points
    bwp = self.data[self.data['water_point_condition'] =="broken"]
    #Convert to dataframe
    self.broken_community_water_points= bwp.groupby("communities_villages").size().reset_index(name='broken_water_points')
    # merge dataframes to get data of broken water points
    self.water_points_merged = pd.merge(self.community_water_points,self.broken_community_water_points, how='outer', on='communities_villages')
    self.water_points_merged['broken_water_points'] = self.water_points_merged['broken_water_points'].fillna(0)

    # # calculate the percentage of broken water points and rank
    self.water_points_merged['broken_water_points_percentage'] = round((self.water_points_merged['broken_water_points'] / self.water_points_merged['total_water_points']) *100, 2)
    self.water_points_merged['rank'] = self.water_points_merged['broken_water_points_percentage'].rank(method='first', ascending=False).astype(int)
    self.water_points_merged.sort_values(by='broken_water_points_percentage', inplace=True, ascending=False)

    print("3: Rank for each community by the percentage of broken water points. ")
    print()
    print(self.water_points_merged)

In [53]:
# instantiate the class
obj=waterPoints(df)
print()
#Calling methods by created object
obj.functional_water_points()
print()
obj.community_waterpoints()
print()
obj.broken_water_points()

1: The number of water points that are functional:

  water_point_condition  number_functional
0           functioning                590

2: Number of water points per community:

   communities_villages  total_water_points
0              Abanyeri                   4
1           Akpari-yeri                   3
2              Alavanyo                   3
3                 Arigu                  12
4               Badomsa                  27
..                  ...                 ...
60                Zogsa                   6
61                  Zua                  28
62              Zuedema                  18
63              Zukpeni                   6
64               Zundem                  30

[65 rows x 2 columns]

3: Rank for each community by the percentage of broken water points.

   communities_villages  ...  rank
16             Gbaarigu  ...     1
57              Vundema  ...     2
5                Bandem  ...     3
52                  Soo  ...     4
44            Namgurima  ...     5
..                  ...  ...   ...
29            Kanbangsa  ...    45
31                  Kom  ...    46
1           Akpari-yeri  ...    24
33            Kpikpaluk  ...    47
64               Zundem  ...    65

[65 rows x 5 columns]

# Return data

In [ ]:
# store data in dictionary
def data_analysis():
  data_set = {
      'number_functional': self.community_water_points,
      'number_water_points': self.community_water_points.to_dict('records'),
      'community_ranking': water_points_merged[['communities_villages', 'broken_water_points_percent', 'rank']].to_dict('records')
  }

  # save data to file
  with open("analysis.json", "w", encoding ='utf8') as outfile:
    json.dump(data_set, outfile, indent=4, sort_keys=False)